@font-face {
	font-family: 'OpenDyslexic2-Regular';
	src: url(../../assets/fonts/OpenDyslexic2-Regular-119623cc8537f1adb66f248886d2fe01.ttf) format('truetype'),
	url(../../assets/fonts/OpenDyslexic2-Regular-119623cc8537f1adb66f248886d2fe01.ttf) format('truetype'),
	url(../../assets/fonts/OpenDyslexic2-Regular-119623cc8537f1adb66f248886d2fe01.ttf) format('truetype'),
	url(../../assets/fonts/OpenDyslexic2-Regular-119623cc8537f1adb66f248886d2fe01.ttf) format('truetype'),
	url(../../assets/fonts/OpenDyslexic2-Regular-119623cc8537f1adb66f248886d2fe01.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}