/* This is the css stylesheet that will contain general css rules for overriding bootstrap designs */

:root {
  --global-fg: var(--bs-body-color, black);
  --global-bg: var(--bs-body-bg, white);
  --global-family: 'Times New Roman';
  --global-table-list-family: var(--global-family);
  --global-table-list-title-family: var(--global-family);
  --global-header-family: var(--global-family);
  --global-main-family: var(--global-family);
  --global-footer-family: var(--global-family);
  --global-font-size: 20px;
  --sql-table-even-colour-bg: #FAE0AF;
  --sql-table-odd-colour-bg: #D0E4F5;
  --sql-table-body-font-size: var(--global-font-size, 13px);
  --sql-table-headings-font-size: var(--global-font-size);
  --sql-table-scrollbar-width: 12px;
}

/* header */

.header {
  background-color: white;
  font-family: var(--global-header-family);
  font-size: var(--global-font-size, 12px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  left: 0;
  right: 0;
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Settings window */

/* Basic styling */

.header_settings_hidden {
  display: none;
}

/* Flex layout for sections */

.header_settings_menu_container section {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.header_settings_menu_container p {
  margin-right: 10px;
}

/* The setting button container desing */

.header_settings_settings_trigger {
  color: black;
  background-color: white;
}

.header_settings_settings_trigger_button {
  font-weight: bold;
}

/* Font styling */

.header_settings_font_section {
  display: flex;
  flex-direction: row;
}

.header_settings_font_select {
}

/* Size styling */

.header_settings_size_section {
  display: flex;
  flex-direction: row;
}

/* Theme styling */

.header_settings_theme_section {
  display: flex;
  flex-direction: row;
}

.header_settings_settings_menu_container {
  position: fixed;
  top: 42px;
  right: 0;
  z-index: 1000;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--global-bg);
}

/* main */

.main {
  background-color: white;
  font-family: var(--global-main-family);
  font-size: var(--global-font-size, 12px);
}

/* footer */

.footer {
  background-color: white;
  font-family: var(--global-footer-family);
  font-size: var(--global-font-size, 12px);
}

/* Pages navigation desing */

#toc {
  background-color: white;
  font-family: var(--global-table-list-family);
  font-size: var(--global-font-size, 12px);
}

.table_list_title {
  font-size: large;
  text-decoration: underline;
  color: black;
  font-family: var(--global-table-list-title-family);
  font-size: var(--global-font-size, 12px);
}

.table_list_current {
  color: black;
  text-decoration: none;
  list-style-type: none;
  font-family: var(--global-table-list-family);
  font-size: var(--global-font-size, 12px);
}

.table_list {
  color: black;
  list-style-type: none;
  font-family: var(--global-table-list-family);
  font-size: var(--global-font-size, 12px);
}

.table_list:hover {
  background-color: white;
  color: black;
  text-decoration: none;
  list-style-type: none;
}

/* Table path customisation */

.table_path_section {
  font-family: var(--global-table-list-family);
  font-size: var(--global-font-size, 12px);
  display: flex;
  justify-content: left;
  flex-direction: row;
}

.table_path_title {
  font-family: var(--global-table-list-family);
  font-size: var(--global-font-size, 12px);
  padding-right: 5px;
  text-decoration: underline;
}

.table_path_link {
  color: black;
  font-family: var(--global-family);
  font-size: var(--global-font-size, 12px);
}

.table_path_link:hover {
  text-decoration: none;
  font-style: italic;
}

.table_path_seperator {
  color: black;
  font-family: var(--global-family);
  font-size: var(--global-font-size, 12px);
  padding: 2px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* The customisation for hyperlinks */

.a {
  color: black;
  font-family: var(--global-family);
  font-size: var(--global-font-size, 12px);
}

.a:hover {
  text-decoration: none;
}

/* Cookie design */

.cookie_bg {
  background-color: black;
  font-family: var(--global-family);
  font-size: var(--global-font-size, 12px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*padding-left: 33%;*/
  /*padding-right: 33%;*/
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
}

.cookie_banner {
  font-family: var(--global-family);
  font-size: var(--global-font-size, 12px);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 40px;
}

.cookie_button {
  color: black;
  background-color: white;
  font-family: var(--global-family);
  font-size: var(--global-font-size, 12px);
  padding-top: 0px;
  padding-bottom: 0px;
}

.cookie_text {
  color: white;
  font-family: var(--global-family);
  font-size: var(--global-font-size, 12px);
  padding-left: 2px;
  padding-right: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.cookie_link {
  color: white;
  font-family: var(--global-family);
  font-size: var(--global-font-size, 12px);
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* This is the css desing of the sql data section */

.sql_control_menu {
  background-color: white;
  font-family: var(--global-family);
  font-size: var(--global-font-size, 12px);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sql_menu_button {
  color: var(--global-fg, black);
  background-color: var(--global-bg, white);
  border-color: var(--global-fg, black);
  border-width: thin;
  border-radius: 6px;
  border-style: solid;
}

/* This is the desing of the css table for sql general data */

.sql_desing {
  /*border: 2px solid #FFFFFF;*/
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.sql_desing td, .sql_desing th {
  border: 1px solid #FFFFFF;
  padding: 4px 4px;
}

.sql_desing tbody td {
  font-size: var(--table-body-font-size, 13px);
}

.sql_desing tr:nth-child(even) {
  background: var(--even-colour-bg);
}

.sql_desing tr:nth-child(odd) {
  background: var(--odd-colour-bg);
}

.sql_desing thead {
  background: #FFFFFF;
  /*border-bottom: 2px solid #333333;*/
}

.sql_desing thead tr {
  padding-right: var(--table-scrollbar-width, 12px);
}

.sql_desing thead th {
  font-size: var(--table-headings-font-size, 14px);
  font-weight: bold;
  text-align: center;
}

.sql_desing thead th:first-child {
  border-left: none;
}

.sql_desing tfoot {
  font-size: var(--table-headings-font-size, 14px);
  font-weight: bold;
  background: #FFFFFF;
  border-top: 2px solid #333333;
}

.sql_desing tfoot th {
  font-size: var(--table-headings-font-size, 14px);
  font-weight: bold;
  text-align: center;
}

.sql_table_container {
  max-height: 500px;
  overflow-y: auto;
  border-top: 2px solid #333333;
  border-bottom: 2px solid #333333;
}

.sql_table_container::-webkit-scrollbar {
  width: var(--table-scrollbar-width, 12px);
}

.sql_table_container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.sql_table_container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
  border: 3px solid #f1f1f1;
}

.sql_table_container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox */

.sql_table_container {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

