/* This is the css stylesheet that defines the rules for the main section of the website */

.root {
  --main-global-family: var(--main-global-family);
  --main-header-family: var(--main-global-family);
  --main-main-family: var(--main-global-family);
  --main-footer-family: var(--main-global-family);
  --main-table-list-family: var(--main-global-family);
  --main-table-list-title-family: var(--main-global-family);
  --main-global-font-size: var(--global-font-size, 12px);
}

/* header */

.main_header {
  background-color: white;
  font-family: var(--main-header-family);
  font-size: var(--main-header-font-size, --main-global-font-size, --global-font-size, 12px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0px;
  left: 0;
  right: 0;
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Settings pop-out window */

/* Basic styling */

.main_header_settings_hidden {
  display: none;
}

/* Flex layout for sections */

.main_header_settings_menu_container section {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.main_header_settings_menu_container p {
  margin-right: 10px;
}

/* The setting button container desing */

.main_header_settings_settings_trigger {
  color: black;
  background-color: white;
}

.main_header_settings_settings_trigger_button {
  font-weight: bold;
}

/* Font styling */

.main_header_settings_font_section {
  display: flex;
  flex-direction: row;
}

.main_header_settings_font_select {
}

/* Size styling */

.main_header_settings_size_section {
  display: flex;
  flex-direction: row;
}

/* Theme styling */

.main_header_settings_theme_section {
  display: flex;
  flex-direction: row;
}

.main_header_settings_settings_menu_container {
  position: fixed;
  top: 42px;
  right: 0;
  z-index: 1000;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--global-bg);
}

/* Header styling */

.main_header_left {
  width: 64px;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.main_header_left_logo {
  width: 126px;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.main_header_center {
  /*width: 40%;*/
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.main_header_right {
  /*width: 33%;*/
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
}

.main_header_right_github_buttons {
  display: flex;
  flex-direction: column;
  /*justify-content: space-around;*/
}

.main_header_right_site_stats {
  display: flex;
  flex-direction: column;
  /*justify-content: space-around;*/
}

/* main */

.main_main {
  background-color: white;
  font-family: var(--main-main-family);
  font-size: var(--main-main-font-size, --main-global-font-size, --global-font-size, 12px);
}

/* footer */

.main_footer {
  background-color: white;
  font-family: var(--main-footer-family);
  font-size: var(--main-footer-font-size, --main-global-font-size, --global-font-size, 12px);
}

/* Pages navigation desing */

#main_toc {
  background-color: white;
  font-family: var(--main-table-list-family);
  font-size: var(--main-toc-font-size, --main-global-font-size, --global-font-size, 12px);
}

.main_table_list_title {
  font-size: large;
  text-decoration: underline;
  color: black;
  font-family: var(--main-table-list-title-family);
  font-size: var(--main-table-list-title-font-size, --main-global-font-size, --global-font-size, 12px);
}

.main_table_list_current {
  color: black;
  text-decoration: none;
  list-style-type: none;
  font-family: var(--main-table-list-family);
  font-size: var(--main-table-list-current-font-size, --main-global-font-size, --global-font-size, 12px);
}

.main_table_list {
  color: black;
  list-style-type: none;
  font-family: var(--main-table-list-family);
  font-size: var(--main-table-list-font-size, --main-global-font-size, --global-font-size, 12px);
}

.main_table_list:hover {
  background-color: white;
  color: black;
  text-decoration: none;
  list-style-type: none;
}

/* Table path customisation */

.main_table_path_section {
  font-family: var(--main-table-list-family);
  font-size: var(--main-table-path-section-font-size, --main-global-font-size, --global-font-size, 12px);
  display: flex;
  justify-content: left;
  flex-direction: row;
}

.main_table_path_title {
  font-family: var(--main-table-list-family);
  font-size: var(--main-table-path-title-font-size, --main-global-font-size, --global-font-size, 12px);
  padding-right: 5px;
  text-decoration: underline;
}

.main_table_path_link {
  color: black;
  font-family: var(--main-global-family);
  font-size: var(--main-table-path-link-font-size, --main-global-font-size, --global-font-size, 12px);
}

.main_table_path_link:hover {
  text-decoration: none;
  font-style: italic;
}

.main_table_path_seperator {
  color: black;
  font-family: var(--main-global-family);
  font-size: var(--main-table-path-seperator-font-size, --main-global-font-size, --global-font-size, 12px);
  padding: 2px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* The customisation for hyperlinks */

.main_a {
  color: black;
  font-family: var(--main-global-family);
  font-size: var(--main-a-font-size, --main-global-font-size, --global-font-size, 12px);
}

.main_a:hover {
  text-decoration: none;
}

/* Cookie design */

.main_cookie_bg {
  background-color: black;
  font-family: var(--main-global-family);
  font-size: var(--main-cookie-bg-font-size, --main-global-font-size, --global-font-size, 12px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*padding-left: 33%;*/
  /*padding-right: 33%;*/
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
}

.main_cookie_banner {
  font-family: var(--main-global-family);
  font-size: var(--main-cookie-banner-font-size, --main-global-font-size, --global-font-size, 12px);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 40px;
}

.main_cookie_button {
  color: black;
  background-color: white;
  font-family: var(--main-global-family);
  font-size: var(--main-cookie-button-font-size, --main-global-font-size, --global-font-size, 12px);
  padding-top: 0px;
  padding-bottom: 0px;
}

.main_cookie_text {
  color: white;
  font-family: var(--main-global-family);
  font-size: var(--main-cookie-text-font-size, --main-global-font-size, --global-font-size, 12px);
  padding-left: 2px;
  padding-right: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}

