/* This is the css page that will customise the aspect of the settings section */

/* Basic styling */

.header_settings_hidden {
  display: none;
}

/* Flex layout for sections */

.header_settings_menu_container section {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.header_settings_menu_container p {
  margin-right: 10px;
}

/* The setting button container desing */

.header_settings_settings_trigger {
  color: black;
  background-color: white;
}

.header_settings_settings_trigger_button {
  font-weight: bold;
}

/* Font styling */

.header_settings_font_section {
  display: flex;
  flex-direction: row;
}

.header_settings_font_select {
}

/* Size styling */

.header_settings_size_section {
  display: flex;
  flex-direction: row;
}

/* Theme styling */

.header_settings_theme_section {
  display: flex;
  flex-direction: row;
}

.header_settings_settings_menu_container {
  background-color: var(--bs-highlight-bg);
}

